/* You can add global styles to this file, and also import other style files */
body {
  background: #f8a434;
  font-family: "Lato", sans-serif;
  color: #fdfcfb;
  text-align: center;
  height: 50vh;
}

html,
body {
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
