<form (ngSubmit)="generateShortUrl()">
  <div class="header">
    <p>Shorttly - short your urls</p>
  </div>
  <div class="description">
    <p>
      Short your horrible long urls with just One Click. The generated link will
      be expired after <span style="color: black"> 24Hrs</span> by default.
      However, if you want you can set the expiration limit as per your needs.
    </p>
  </div>
  <div class="input">
    <input
      type="text"
      class="button"
      id="url"
      name="url"
      placeholder="Type your url here..."
      [(ngModel)]="Url.url"
    />
    <button [disabled]="isLoading" type="submit" id="submit" class="button">
      SHORTIFY
    </button>
  </div>
  <mat-error
    *ngIf="hasError"
    style="display: flex; justify-content: center; margin-top:-0.7rem; font-weight: bold;"
    >Please Enter a valid URL...!</mat-error
  >
  <div class="datepick">
    <div class="select">
      <mat-slide-toggle (change)="onToggle($event)">
        Select Expiration Time
      </mat-slide-toggle>
    </div>
    <div *ngIf="toggle">
      <input
        type="datetime-local"
        id="dateTime"
        name="dateTime"
        min="{{min}}"
        #input
        (change)="onChange(input.value)"
        [(ngModel)]="Url.expirationDate"
      />
    </div>
  </div>
</form>
<div class="input" id="copy-url" *ngIf="showUrl">
  <input
    type="text"
    class="button"
    id="short-url"
    [value]="shortenUrl"
    name="url"
    #shortUrl
  />
  <button
    type="text"
    id="submit-copy"
    class="button"
    (click)="copyToClipboard($event, shortUrl)"
  >
    COPY
  </button>
</div>

<app-footer></app-footer>